[submodule "external/fast_float"]
	path = external/fast_float
	url = https://github.com/fastfloat/fast_float
	branch = v7.0.0
[submodule "external/PEGTL"]
	path = external/PEGTL
	url = https://github.com/taocpp/PEGTL
  branch = 3.2.8
[submodule "external/tomlplusplus"]
	path = external/tomlplusplus
	url = https://github.com/marzer/tomlplusplus
  branch = v3.4.0
[submodule "external/qcint"]
	path = external/qcint
	url = https://github.com/chillenb/qcint.git
  branch = simddconfig
[submodule "external/libcint"]
	path = external/libcint
	url = https://github.com/sunqm/libcint
